<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" formControlName="username" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" 
                      placeholder="Username" autocomplete="username">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" formControlName="password" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                      placeholder="Password" autocomplete="current-password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                      <div class="col-4 text-right">
                        <button type="button" class="btn btn-link px-0" (click)="register()">Create Account?</button>
                      </div>
                      <div class="col-4 text-right">
                        <button type="button" class="btn btn-link px-0" (click)="forgetpass()">Forgot password?</button>
                      </div>
                    </div>
                  </div>
                </form>
              
              </div>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Be great at what you do</p>
                  <p>Get started with DashTech PMS System</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
