<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" formControlName="UserName" class="form-control" placeholder="Username"
                     [ngClass]="{'is-invalid': f.UserName.touched && f.UserName.errors }">
                    <div class="invalid-feedback" *ngIf="f.UserName.errors?.required"> Please provide username. </div>
                  </div>
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" formControlName="Email"  class="form-control" placeholder="Email" 
                  [ngClass]="{ 'is-invalid': f.Email.touched && f.Email.invalid }">
                  <div class="invalid-feedback" *ngIf="f.Email.errors?.required && f.Email.touched"> Please provide a email. </div>
                  <div class="invalid-feedback" *ngIf="f.Email.errors?.email && f.Email.touched"> Please provide a valid email. </div>
                </div>
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password"
                  formControlName="Password" [ngClass]="{ 'is-invalid': f.Password.touched && f.Password.errors }">
                  <div class="invalid-feedback" *ngIf="f.Password.errors?.required"> Please provide a valid information. </div>
                </div>
                <div class="input-group mb-4 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password"
                  formControlName="ConfirmPassword">
                </div>
                <div class="input-group mb-4 form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                  <!-- <label class="col-md-3 col-form-label" for="file-input">File input</label> -->
                </div>
                    <input type="file" (change)="onFileChanged($event)" class="form-control" placeholder="File Upload" id="file-input" name="UserImage"
                    formControlName="UserImage" >
                </div>  
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>